.st{
    display: flex;
    flex-direction: row;
    justify-content: center ;
}
.dates{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.ce{
    display: flex;
    flex-direction: row;
    justify-content: center ; 
}