


<h2>Stock Statistics </h2>
<div *ngIf="maxPrice !== undefined && minPrice !== undefined">
  <p>Max Price: {{ maxPrice }}</p>
  <p>Min Price: {{ minPrice }}</p>
  <p>Avg Price: {{avgPrice}}</p>
</div>

<h2>Stock Price Chart</h2>
<div style="display: flex;">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [type]="lineChartType"
          [height]=70
          [width]=300>
  </canvas>
</div>
<br>
<div class="dates">
  <div>
    <mat-form-field>
      <input matInput placeholder="Start Time" type="datetime-local" [(ngModel)]="startTime" />
    </mat-form-field>
</div>
  <div>
    <mat-form-field>
      <input matInput placeholder="End Time" type="datetime-local" [(ngModel)]="endTime" />
    </mat-form-field>
  </div>
</div>
<div class="ce">
  <button (click)="onSearchClick()">Search</button>
</div>


  <!-- <h2>Filter The Stock Prices</h2>
<div *ngIf="filteredPrices && filteredPrices.length > 0; else noData">
  <ul>
    <li *ngFor="let price of filteredPrices">
      <strong>Date:</strong> {{ price.timeStamp | date: 'longDate' }} - <strong>Price:</strong> {{ price.price }}
    </li>
  </ul>
</div>
<ng-template #noData>
  <p>No data </p>
</ng-template> -->

<h2>Filtered Stock Prices</h2>
<div *ngIf="filteredPrices && filteredPrices.data.length > 0; else noData">
  <mat-table [dataSource]="filteredPrices" class="mat-elevation-z8">
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let price">{{ price.timeStamp | date: 'longDate' }}</mat-cell>
    </ng-container>
    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let price">{{ price.price }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['date', 'price']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['date', 'price'];"></mat-row>
  </mat-table>
</div>
<ng-template #noData>
  <p>No data available for the selected date range.</p>
</ng-template>


<div class="st">
   

    <button mat-raised-button color="warn"  (click)="onCloseClick()">Back</button>
</div>
